<div *ngIf="user">
  <div class="col-md-8 mx-auto">
    <!-- Detalles de usuario -->
    <div class="card bg-primary" style="border-radius: 10px;">
      <div class="card-body">
        <h2 class="card-title" style="color:#fffcea; background-color:#4c7031; border-radius: 10px;">Datos de {{user.username}}</h2>
        <div class="user-details" style="color:#fffcea;" >
          <div><span>Id: </span>{{user._id}}</div>
          <div><span>Username: {{user.username}}</span></div>
          <div><span>Email: {{user.email}}</span></div>
          <div>
            <div class="form-group" style="text-align: right; margin-top: 10px;">
              <button type="button" class="btn btn-block"  (click)="delete()" style="border: 1px solid #fffcea; border-radius: 10px; margin-right:10px;">
                Borrar usuario
              </button>
              <button type="button" class="btn btn-block" (click)="toggleUpdateForm()" style="border: 1px solid #fffcea; border-radius: 10px;">
                {{ showUpdateForm ? 'Cancelar' : 'Actualizar usuario' }}
              </button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Formulario de actualización de usuario -->
    <div *ngIf="showUpdateForm" class="card bg-primary" style="border-radius: 10px; margin-top: 20px;">
      <div class="card-body">
        <h2 class="card-title" style="color:#fffcea; background-color:#4c7031; border-radius: 10px;">Actualizar Usuario</h2>
        <form (submit)="update()">
          <div class="form-group"style="border-radius: 10px; margin-bottom: 10px;background-color:#fffcea;color:#1D1D1B;">
            <input type="text" [(ngModel)]="userupdate.username" name="username" style="border-radius: 10px; margin-bottom: 10px; background-color:#fffcea; color:#1D1D1B;"class="form-control" placeholder="Username" required autofocus>
          </div>
          <div class="form-group"style="border-radius: 10px; margin-bottom: 10px;background-color:#fffcea;color:#1D1D1B;">
            <input type="text" [(ngModel)]="userupdate.email" name="email" class="form-control" style="border-radius: 10px; margin-bottom: 10px;background-color:#fffcea;color:#1D1D1B;" placeholder="Email" required autofocus>
          </div>
          <div class="form-group" style="border-radius: 10px; margin-bottom: 10px;background-color:#fffcea;color:#1D1D1B;">
            <input type="password" [(ngModel)]="userupdate.password" name="password" class="form-control" style="border-radius: 10px; margin-bottom: 10px;background-color:#fffcea;color:#1D1D1B;" placeholder="Password" required>
          </div>
          <div class="form-group" style="text-align: right; margin-top: 10px;">
            <button type="submit" class="btn btn-block" style="border: 1px solid #fffcea; border-radius: 10px; margin-right:10px;">
             Guardar cambios
            </button>
            <button type="button" class="btn btn-block" (click)="cancelUpdate()" style="border: 1px solid #fffcea; border-radius: 10px;">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
